:root {
  --item-section-color: lightcyan;
  --item-product-color: lightblue;
  --item-category-color: #ffd17d;
  --item-link-color: #fcc4ff;
}

#app {
  .form-row {
    padding-bottom: calc(.25rem + 1px);
    label {
      margin-bottom: 0;
    }
    .form-row {
      padding-bottom: 0;
    }
  }

  select {
    option.inactive {
      background-color: lightgray;
    }
  }

  .sortable-item-list {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    align-content: flex-start;
  }




  .btn-group {
    //background-color: green;
    &.item-types {
      .btn-secondary,
      .btn-outline-secondary:hover {
        color: black;
        &.section {
          background-color: var(--item-section-color);
        }

        &.product {
          background-color: var(--item-product-color);
        }

        &.category {
          background-color: var(--item-category-color);
        }

        &.link {
          background-color: var(--item-link-color);
        }
      }
    }
  }
}
