:root {
  --item-section-color: lightcyan;
  --item-product-color: lightblue;
  --item-category-color: #ffd17d;
  --item-link-color: #fcc4ff;
}

#app {
  .form-row {
    padding-bottom: calc(.25rem + 1px);
    label {
      margin-bottom: 0;
    }
    .form-row {
      padding-bottom: 0;
    }
  }

  select {
    option.inactive {
      background-color: lightgray;
    }
  }

  .sortable-item-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: flex-start;
    align-content: flex-start;
  }

  .products-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    margin-top: 1rem;

    .product {
      padding: 0.25rem;
      flex: 0 1 33.333%;
      color: lightgray;
      font-size: .875rem;


      &.active {
        color: black;
      }

      .product-stuff {
        padding: 0.25rem;
        border: 1px lightgray solid;
        border-radius: 3px;
        display: flex;
        flex-direction: row;

        .img-container {
          flex: 1 0 50%;
        }
        .info-container {
          flex: 1 0 50%;
          padding-left: 0.25rem;
        }
      }

    }
  }


  .btn-group {
    //background-color: green;
    &.item-types {
      .btn-secondary,
      .btn-outline-secondary:hover {
        color: black;
        &.section {
          background-color: var(--item-section-color);
        }

        &.product {
          background-color: var(--item-product-color);
        }

        &.category {
          background-color: var(--item-category-color);
        }

        &.link {
          background-color: var(--item-link-color);
        }
      }
    }
  }
}
