.pagination {
  &.filtered {
    .page-item.active {
      .page-link {
        background-color: var(--bs-warning);
        border-color: var(--bs-warning);
        color: var(--bs-dark);
      }
    }
  }
}
